# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientists
- Create a one-column table in a Markdown cell
- Apply  arithmetic expressions in code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL (Structured Query Language)
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy (Python)
2. Pandas (Python)
3. Matplotlib (Python)
4. Seaborn (Python)
5. SciPy (Python)
6. ggplot2 (R)

|Data Science Tools |
|-------------------|
|Jupyter Notebooks  |
|RStudio            |
|Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python.
***1. Addition:*** 5+3

***2. Multiplication:*** 6*5

***3. Division:*** 15/5

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
minutes = 200
hours = minutes / 60
rounded_hours = round(hours, 2)  

print(f"{minutes} minutes is equal to {rounded_hours} hours")
#This will convert 200 minutes to hours by diving by 60

200 minutes is equal to 3.33 hours

## Author
Pham Phu Nguyen